.global-button {
  padding: 8px;
  border-radius: 5px;
  background-color: rgb(78, 176, 241);
  margin-top: 10px;
  border: 0;
  cursor: pointer;
  outline: none;
}

.global-button:hover {
  filter: brightness(1.15);
}

.global-button:active {
  transform: scale(95%);
}
