.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.products-container .product-list {
  width: 800px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  gap: 10px;

  list-style: none;
}
.products-container .product-list li {
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 10px;
}
